@using System.Web.Script.Serialization

@{
    ViewBag.Title = "Index";
}
<script src='@Url.Content("~/Scripts/customJquery/jquery.slimscroll.min.js")'></script>
<script src='@Url.Content("~/MembersIndex/FrontEnd/MembersIndex/IndexVM.js")'></script>
<script src='@Url.Content("~/MembersIndex/FrontEnd/MembersIndex/AddMemberPartial/AddMemberVM.js")'></script>
<script src='@Url.Content("~/MembersIndex/FrontEnd/MembersIndex/EditMemberPartial/EditMemberVM.js")'></script>
<script src='@Url.Content("~/MembersIndex/FrontEnd/Utils/HttpService.js")'></script>
<script src='@Url.Content("~/MembersIndex/FrontEnd/Utils/HttpUrls.js")'></script>
<script src='@Url.Content("~/MembersIndex/FrontEnd/Services/CommunityMembersList.js")'></script>
<script src='@Url.Content("~/MembersIndex/FrontEnd/Services/CommunityMember.js")'></script>
<script src='@Url.Content("~/MembersIndex/FrontEnd/Services/Child.js")'></script>
<script src='@Url.Content("~/MembersIndex/FrontEnd/Services/MemberChildren.js")'></script>
<script src='@Url.Content("~/MembersIndex/FrontEnd/Services/CommunityActivities.js")'></script>


<script src='@Url.Content("~/MembersIndex/FrontEnd/MembersIndex/js-jquery/MembersIndex.js")'></script>

<div id="adata-ngular-controller" data-ng-app="mesjidApp" data-ng-controller="mesjidIndexVM as mesjidIndexCtrl" data-ng-init="mesjidIndexCtrl.getMembersList()" class="txt-center">
    <div id="index-inner-box" class="content">
        <h2>Community Members</h2>
        <div class="empty-space-20"></div>
        <div class="">
            <div class="txt-center">
                <div class="col col-1-4">
                    <div class="button" data-ng-click='mesjidIndexCtrl.showAddMemberPartial()'>Add member</div>
                </div>
                <div class="col vert-mid">Filter</div>
                <input type="text" class="col vert-mid" data-ng-model="mesjidIndexCtrl.searchText" />
            </div>
        </div>
        
        <div class="table-box">
            
            <div class="table">

                <div class="head">

                    <div class="row">
                        <div class="column">
                            <div class="text">
                                Name
                            </div>
                            <div class="vert-mid-hack"></div>
                        </div>
                        <div class="column">
                            <div class="text">
                                Spouse
                            </div>
                            <div class="vert-mid-hack"></div>
                        </div>
                        <div class="column">
                            <div class="text">
                                Phone
                            </div>
                            <div class="vert-mid-hack"></div>
                        </div>
                        <div class="column">
                            <div class="text">
                                Email
                            </div>
                            <div class="vert-mid-hack"></div>
                        </div>
                        <div class="column w50">
                            <div class="text">
                                -
                            </div>
                            <div class="vert-mid-hack"></div>
                        </div>
                    </div>

                </div>
                <div class="body slim-scroll">

                    <div class="row" 
                        data-ng-repeat="member in mesjidIndexCtrl.membersList | filter:mesjidIndexCtrl.searchText track by $index"
                        >
                        <div class="column">
                            <div class='text link-hover-teal' data-ng-click='mesjidIndexCtrl.prepareMemberForEdit(member.CommunityMemberId, $index)'>
                                {{ member.FullName }}
                            </div>
                            <div class="vert-mid-hack"></div>
                        </div>
                        <div class="column">
                            <div class="text">
                                {{ member.SpouseFullName }}
                            </div>
                            <div class="vert-mid-hack"></div>
                        </div>
                        <div class="column">
                            <div class="text">
                                {{ member.PhoneNumber }}
                            </div>
                            <div class="vert-mid-hack"></div>
                        </div>
                        <div class="column">
                            <div class="text">
                                {{ member.Email}}
                            </div>
                            <div class="vert-mid-hack"></div>
                        </div>
                        <div class="column w50">
                            <div class="text link-hover-tom" 
                                data-ng-click='mesjidIndexCtrl.deleteMember(member.CommunityMemberId)'>
                                Delete
                            </div>
                            <div class="vert-mid-hack"></div>
                        </div>
                    </div>

                </div>

            </div>

        </div><!-- end table box -->

    </div>

    <div class="modal-bg hidden modal-closer"></div>

    <div class="add-member-modal hidden">
        <div id="add-member-div" class="" data-ng-include="'MembersIndex/FrontEnd/MembersIndex/AddMemberPartial/AddMember.html'">
                
        </div>
        <div class="vert-mid-hack"></div>
    </div>

    <div id="edit-member-modal" class="hidden">
        <div id="edit-member-div" class="" data-ng-include="'MembersIndex/FrontEnd/MembersIndex/EditMemberPartial/EditMember.html'">
                
        </div>
        <div class="vert-mid-hack"></div>
    </div>

</div>
<div id="error-modal" class="hidden">
    <div id="error-modal-message">

    </div>
</div>

