

<script src='@Url.Content("~/Scripts/customJquery/jquery.slimscroll.min.js")'></script>
<script src='@Url.Content("~/Angular/MesjidApp/mesjidAppModule.js")'></script>
<script src='@Url.Content("~/Angular/MesjidApp/Modules/Members/IndexVM.js")'></script>
<script src='@Url.Content("~/Angular/MesjidApp/Modules/AddMember/AddMemberVM.js")'></script>


<script src='@Url.Content("~/Angular/MesjidApp/Modules/Member/EditMemberVM.js")'></script>
<script src='@Url.Content("~/MembersIndex/FrontEnd/Utils/HttpService.js")'></script>
<script src='@Url.Content("~/MembersIndex/FrontEnd/Utils/HttpUrls.js")'></script>
<script src='@Url.Content("~/MembersIndex/FrontEnd/Services/CommunityMembersList.js")'></script>
<script src='@Url.Content("~/MembersIndex/FrontEnd/Services/CommunityMember.js")'></script>
<script src='@Url.Content("~/MembersIndex/FrontEnd/Services/Child.js")'></script>
<script src='@Url.Content("~/MembersIndex/FrontEnd/Services/MemberChildren.js")'></script>
<script src='@Url.Content("~/MembersIndex/FrontEnd/Services/CommunityActivities.js")'></script>
<script src='@Url.Content("~/MembersIndex/FrontEnd/MembersIndex/js-jquery/MembersIndex.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Angular/MesjidApp/Routes.js")'></script>

<div data-ng-app="mesjidApp">
    <div ui-view></div>
</div>