<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Mesjid Community DB</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @*<script src='@Url.Content("~/Scripts/angular.min.js")'></script>*@
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

        @*<script src='@Url.Content("~/Scripts/angular-route.min.js")'></script>*@
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    </head>
    <body>
        @*<header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"></p>
                </div>
                <div class="float-right">
                    <section id="login">
                        Hello, <span class="username">@User.Identity.Name</span>!
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>*@
        <div class="fixed-nav">
            <div class="page-width">
                <div class="item">
                    <div class="text">
                        NHICCT
                    </div>
                    <div class="vert-mid-hack"></div>
                </div>
                @if (Request.IsAuthenticated)
                {
                    <div class="item right">
                        <div class="text">
                            @Html.ActionLink("logout", "LogOut", "UserAccount", null, null)
                        </div>
                        <div class="vert-mid-hack"></div>
                    </div>
                }
            </div>
        </div>
        <div class="empty-30-px"></div>
        <div id="super-body-box">
        
        <div id="body" style="">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                <div class="page-width">
                    @RenderBody()
                </div>
            </section>
        </div>
        
        <div class="footer txt-center">
            <div class="col vert-bot">
                <p>&copy; @DateTime.Now.Year - New Haven Islamic Center</p>
            </div>
            <div class="vert-mid-hack vert-bot"></div>
        </div>
            </div>

        @RenderSection("scripts", required: false)
    </body>
</html>
